@import 'mixins';
@import 'clases';
@import 'id';

html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    //Home
    #home{
        @include main-structure;
        background-image: url('../img/fondosLogos/fondo.png');
    }

    //Register
    #register{
        @include main-structure;
        background-image: url('../img/fondosLogos/fondoLogin.png');
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 90px;
    }
    //Login
    #login{
        @include main-structure;
        background-image: url('../img/fondosLogos/fondoLogin.png');
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 90px;
    }

    #profile{
        flex: 1;
        margin: 8% 15% 5% 10%;
        height: auto;
        width: auto;
    }

    #bento{
        flex: 1;
        overflow: auto;
        position: relative;
        
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: $gris-claro; 
            border-radius: 10px; 
        }

        ::-webkit-scrollbar {
            width: 8.5px;
            background: transparent; 
        }

        ::-webkit-scrollbar-track:hover {
            background: #f0f0f0;
        }
    }

    #album{
        flex: 1;
        overflow: auto;
        position: relative;

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: $gris-claro; 
            border-radius: 10px; 
        }

        ::-webkit-scrollbar {
            width: 8.5px;
            background: transparent; 
        }

        ::-webkit-scrollbar-track:hover {
            background: #f0f0f0;
        }
    }

    #suport{
        @include main-structure;
        background-image: url('../img/fondosLogos/fondo.png');
        flex-direction: column;
    }    
}
