@import 'variables';

@mixin central($marginbot){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: $marginbot;
}

@mixin btn($altura, $anchura){
    cursor: pointer;
    background-color: $gris-oscuro;
    color: $blanco;
    border: none;
    border-radius: 10px;
    height: $altura;
    width: $anchura;
    padding: 5px 30px;
    font-weight: 600;
    font-size: calc(0.38 * #{$altura});
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@mixin label{
    margin-top: 20px;
            padding: 0px 0px 5px 10px;
            font-weight: 750;
            font-size: small;
}

@mixin input{
    font-size: small;
    height: 40px;
    width: auto;
    padding: 4px 4px 4px 10px;
    border-radius: 10px;
    border: solid 1px $gris-claro;

        &:focus {
            border: solid 1px $gris-claro;
            outline: solid 1px $gris-claro;
        }
        &:-webkit-autofill, 
        :-webkit-autofill:hover, 
        :-webkit-autofill:focus, 
        :-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $blanco inset !important;
            -webkit-text-fill-color: $negro !important;
        }
}

@mixin main-structure{
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin separator($ancho,$borde-inferior){
    .separator {
        display: flex;
        gap: 15px;
        color: $gris-claro;
        margin-top: 10px;
        margin-bottom: $borde-inferior;
        width:$ancho;
    
        hr{
        flex-grow: 1;
        border: none;
        border-top: 1px solid $gris-claro;
        }
    
        .hr-login{
            width: auto;
        }
    }
}

@mixin login-footer($font-size){
        color: $gris-claro;
        margin-top: auto;
        font-size: $font-size;

        .link-sub{
            text-decoration: none;
            font-weight: 600;
            color: $gris-oscuro;
        }
    
}

@mixin scaleDown($scale) {
    transform: scale($scale);
    transform-origin: center;
}

@mixin member-node {
    // position: absolute;
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gris-oscuro;

    .image-upload{
        position: relative;
        display: inline-block;
        img{
            height: 125px;
            width: auto;
            border-radius: 50%;
            display: block;
        }

        .plus-label{
            position: absolute;
            bottom: 9px; 
            right: 9px; 
            opacity: 0; 
            transition: opacity 0.2s ease-in-out;

            i {
                @include btn(10px, 10px);
                font-size: 10px;
                padding: 5px;
                color: $blanco;
            }
        }

        &:hover .plus-label{
            opacity: 1;
        }
    }
}
