/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INDEX*/
/* Header */
.header-index {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background-color: #8bc34a;

}

.logo-index img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.header-index h1 {
    font-size: 50px;
    color: #333;
    align-items: center;
    margin: 0;
    justify-content: center;
    text-align: center;
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px - 50px);
    background-image: url("../img/fondosLogos/fondo.jpg");
    background-position: center;
    background-size: cover;
    
}

.hero-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #a9401d;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #212121;
    text-decoration: solid;
    margin-bottom: 20px;
}

.register-btn {
    display: inline-block;
    background-color: #a9401d;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #ff5722;
}

.login-link {
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
}

.login-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/*VISTAS*/

h3 {
    color: #A9401D;
    text-align: center;
}

h4 {
    text-align: center;
}
/* REGISTRO */
/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Todo el viewport para el body */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FBE7; /* Color de fondo general */
}

/* Header Styles */
.header-container {
    background-color: #8bc34a; /* Fondo verde */
    padding: 1px;
    width: 1350px;
    box-sizing: border-box;
}

.logo-container {
    text-align: left;
    padding: 5px 20px; /* Ajustar el padding para evitar desplazar el contenido */
}

.logo-nav-img {
    max-width: 70px;  /* Tamaño más pequeño del logo en la cabecera */
    height: auto;
}

/* Main Content Styles */
#register {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;  /* Asegura que el formulario esté sobre el fondo */
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.register-container {
    background-color: #ff5722;  /* Fondo naranja */
    padding: 30px;
    border-radius: 15px;  /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* Sombra para el contenedor */
    width: 100%;
    box-sizing: border-box;  /* Asegura que el padding no expanda el ancho del contenedor */
}

.logo-container-central {
    text-align: center;
    margin-bottom: 20px;
}

#logoCentral {
    max-width: 100px;
    height: auto;
}

.message-container {
    text-align: center;
    margin-bottom: 30px;
}

.message {
    color: #212121;  /* Gris oscuro */
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

/* Form Styles */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.label {
    color: #212121;
    font-weight: bold;
}

.input {
    padding: 10px;
    border: 1px solid #8bc34a;  /* Verde primario */
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    width: calc(100% - 20px);  /* Asegura que los campos tengan el mismo ancho */
    box-sizing: border-box;
    margin-bottom: 10px; /* Espaciado adicional entre campos */
}

.checkbox {
    margin-left: 10px;
}

.input:focus {
    border-color: #ff5722;  /* Naranja (acción/link) al enfocarse */
}

.btn-register {
    padding: 12px;
    background-color: #8bc34a;  /* Naranja */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
    width: 100%;  /* Botón con ancho completo del contenedor */
}

.btn-register:hover {
    background-color: #7cb342;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hr-register {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #8bc34a;  /* Verde primario */
}

.separator span {
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212121;
}

#btn-google {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #8bc34a;  /* Verde primario */
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#btn-google:hover {
    background-color: #7cb342;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f9fbe7;
    color: #212121;
    font-size: 14px;
    width: 100%;
    position: relative;
}

/* Footer and Register Footer */
.register-footer {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link-sub:hover {
    text-decoration: underline;
}

/* LOGIN */
/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FBE7;  /* Fondo blanco crema */
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header-container {
    background-color: #8bc34a; /* Fondo verde */
    padding: 1px;
}

.logo-container {
    text-align: left;
    padding: 10px 20px;
}

.logo-nav-img {
    max-width: 80px;  /* Tamaño más pequeño del logo en la cabecera */
    height: auto;
}

/* Main Content Styles */
#login {
    display: flex;
    align-items: center;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-image-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.background-image {
    max-width: 100%;
    height: auto;
    opacity: 0.8;  /* Ajustar la opacidad para que se vea más sutil */
}

.login-container {
    background-color: #fffac7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.logo-container-central {
    text-align: center;
}

#logoCentral {
    max-width: 150px;
    height: 150px;
    padding: 0;
}

.message-container {
    text-align: center;
}

.message {
    color: #212121;  /* Gris oscuro */
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

/* Form Styles */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    color: #212121;
    font-weight: bold;
}


.btn-login {
    padding: 12px;
    background-color: #ff5722;  /* Naranja */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #e64a19;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hr-login {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #8bc34a;  /* Verde primario */
}

.separator span {
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212121;
}

#btn-google {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #8bc34a;  /* Verde primario */
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#btn-google:hover {
    background-color: #7cb342;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #212121;
    color: #F9FBE7;
    font-size: 14px;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.link-sub {
    color: #ff5722;
    font-weight: bold;
    text-decoration: none;
}

.link-sub:hover {
    text-decoration: underline;
}


/* SECCIÓN MI SUSCRIPCIÓN */


/* Contenedor principal */
.mi-suscripcion {
    padding: 20px;
    background-color: #F9FBE7;
}

/* Sección Detalles suscripción */
.detalles-suscripcion {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}




/*Sección método pago*/
.modulo-pago {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="email"], select {
    padding: 10px;
    background-color: white;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 40%;
}


.formulario-pago {
    margin-top: 20px;
}


/* Sección Gestión de la suscripción */
.gestion-suscripcion {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Botones*/
.boton, .btn-suscripcion {
    background-color: #A9401D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.btn-activar, .btn-pausar, .btn-cancelar {
    background-color: #A9401D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.btn-activar:hover {
    background-color: rgb(11, 240, 11);
    color: black;
}

.btn-pausar:hover {
    background-color:rgb(255, 217, 0);
    color: black;
}

.btn-cancelar:hover {
    background-color:rgb(255, 57, 57);
    color: black;
}

.btn:hover, .boton:hover, .btn-suscripcion:hover {
    background-color: #ff5722;
    color: black;
}



/* SECCIÓN AYUDA */


.ayuda {
    padding: 20px;
    background-color: #F9FBE7;
}


/* FAQ */
.ayuda h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#ayuda-container {
    display: flex;
    gap: 20px; 
    padding: 20px;
    justify-content: space-between;
}


.faq-container, .incidencias-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #A9401D;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #ff5722;
    color: #212121;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 5px;
    border-left: 4px solid #ff5722;
}

.faq-question.active + .faq-answer {
    display: block;
}


/*Incidencias*/
.incidencias-container {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.form-container {
    width: 100%;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #A9401D;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff5722;
    color: #212121
}

/*Botones de contacto*/
.contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.contact-btn {
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #212121;  
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    background-color: #8bc34a;
}


.contact-btn:hover {
    background-color: #ff5722;
    color:  white;
}




