/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Styles */
.header-container {
    background-color: #8bc34a; /* Fondo verde */
    padding: 1px;
    width: 1350px;
    box-sizing: border-box;
}

.logo-container {
    text-align: left;
    padding: 5px 20px; /* Ajustar el padding para evitar desplazar el contenido */
}

.logo-nav-img {
    max-width: 70px;  /* Tamaño más pequeño del logo en la cabecera */
    height: auto;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f9fbe7;
    color: #212121;
    font-size: 14px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

/* Footer and Register Footer */
.register-footer {
    text-align: center;
    margin-top: 20px;
}

.link-sub {
    color: #ff5722;
    font-weight: bold;
    text-decoration: none;
}

.link-sub:hover {
    text-decoration: underline;
}

/*VISTAS*/
/* Blog*/
.blog-section {
    padding: 20px;
}

.filtro-busquedas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filtros-contenedor {
    display: flex;
    align-items: center;  /* Alinear verticalmente los filtros */
    justify-content: flex-start;  /* Alinear hacia el inicio (puede ser cambiado según prefieras) */
    gap: 20px;  /* Espacio entre los filtros */
    margin-bottom: 20px;  /* Añadir margen inferior para separar los filtros de otros elementos */
    font-family: 'Montserrat', sans-serif;
}
.filtro-fecha {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.filtro-fecha label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #212121; /* Gris Oscuro */
}

#fecha {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8bc34a; /* Verde Primario */
    border-radius: 5px;
    background-color: #F9FBE7; /* Fondo Blanco Crema */
    color: #212121; /* Gris Oscuro */
    cursor: pointer;
}
.search-bar {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtro-categorias {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.filtro-categorias label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #212121; /* Gris Oscuro */
}

#categorias {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8bc34a; /* Verde Primario */
    border-radius: 5px;
    background-color: #F9FBE7; /* Fondo Blanco Crema */
    color: #212121; /* Gris Oscuro */
    cursor: pointer;
}

#categorias:hover {
    border-color: #ff5722; /* Color Acción/Link Naranja al pasar el cursor */
}

.blog-posts {
    background-color: #A9401D;
    padding: 20px;
    border-radius: 10px;
}

.post {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.post-thumbnail {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-right: 20px;
}

.post-content {
    flex-grow: 1;
}

.post-preview {
    color: #666;
}

.load-more {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.load-more:hover {
    background-color: #e64a19;
}
.btn-leer {
    margin-top: 20px;
    width: 200px;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-leer:hover {
    background-color: #8bc34a;
}
/*ARTICULO BLOG*/
/* Sección del Artículo Completo */
.articulo-detalles {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9FBE7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articulo-detalles h1 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.info-articulo {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 16px;
    margin-bottom: 20px;
}

.info-articulo span {
    margin-right: 15px;
}

.contenido-articulo {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 40px;
}

/* Sección de Comentarios */
.comentarios {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9FBE7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentarios h2 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.comentario {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #a9401d;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Formulario para nuevo comentario */
.nuevo-comentario h3 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    margin-bottom: 10px;
}

.nuevo-comentario form {
    display: flex;
    flex-direction: column;
}

.nuevo-comentario textarea {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.btn-enviar-comentario {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.btn-enviar-comentario:hover {
    background-color: #e64a19;
}


/* PAGINA CAMPAñAS PUBLICITARIAS */
.campanias-publicitarias {
    padding: 20px;
    background-color: #F9FBE7;
}

.titulo-seccion {
    color: #212121;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.historial-campanias, .crear-campania {
    width: 45%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historial-campanias h2, .crear-campania h2 {
    color: #A9401D;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.filtro-fecha {
    margin-bottom: 20px;
}

.lista-campanias .campania {
    background-color: #A9401D;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-detalles {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-paquete-publicitario {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="file"], input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* PAGINA PRINCIPAL USUARIOS */
/* Contenedor Principal */
.main-perfil-usuario {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9FBE7;
    text-align: center;
}

/* Sección Usuario */
.contenedor-dos-columnas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.seccion-usuario {
    background-color: #A9401D;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reducir espacio entre filas */
    align-items: flex-start;
}

.profile-info div {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info .label {
    font-weight: bold;
    text-align: left;
    width: 100px;
    color: white !important;
    display: inline-block;
}

.profile-info input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}



/* Contenedor de Dos Columnas */
.contenedor-dos-columnas-body {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
    margin: auto;
    box-sizing: border-box;
}


/* Accesos a Otras Áreas */
.accesos-areas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.btn-area {
    background-color: #8bc34a;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-area:hover {
    background-color: #ff5722;
    color: white;

}


/* Sección de Newsletter */
.newsletter-section {
    background-color: #8bc34a;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
}

.newsletter-section form {
    margin-top: 10px;
}

.newsletter-section input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-btn {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


/*EVENTOS EN LOS QUE PARTICIPA EL USUARIOS, pertenece a html eventosusuarios*/
.seccion-eventos {
    padding: 20px;
    background-color: #F9FBE7;
}

.seccion-eventos h1 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.buscador-filtro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buscador {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.lista-eventos {
    display: flex;
    justify-content: space-between;
}

.evento {
    width: 30%;
    background-color: #8bc34a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.evento img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.evento h3 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
}

.evento .preview-evento {
    font-size: 14px;
    color: #212121;
    margin: 10px 0;
}

.btn-detalles, .btn-inscripcion {
    background-color: #A9401D;
    color: white;
    padding: 8px 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-inscripcion {
    background-color: #ff5722;
}

.btn-mostrar-mas {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* Sección de Mi Calendario y Mis Eventos */
.seccion-calendario {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #F9FBE7;
}

.mi-calendario, .mis-eventos {
    width: 45%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mi-calendario h2, .mis-eventos h2 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    margin-bottom: 15px;
    text-align: center;
}

.mi-calendario img {
    width: 100%;
    height: auto;
}

.evento-personal {
    background-color: #A9401D;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.evento-personal p {
    margin: 5px 0;
}

.btn-recordatorio {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}
/* ACTIVIDADES*/
/* Sección donde los usuarios visualizan las actividades en las que se pueden inscribir */
/* Filtros de Actividades */
.filtros-actividades {
    width: 20%;
    float: left;
    padding: 20px;
    background-color: #A9401D;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    text-align: center;
}

.filtro-categorias h3 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    margin-bottom: 10px;
    
}

/* Lista de Actividades */
.lista-actividades {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9FBE7;
    overflow: hidden; /* Para prevenir que el contenedor colapse con el float del filtro */
}

.lista-actividades h2 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    text-align: center;
    margin-bottom: 20px;
}

.actividad {
    display: flex;
    color: #8bc34a;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.actividad-thumbnail {
    width: 25%;
    background-color: #ccc;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.actividad-contenido {
    width: 75%;
}

.actividad h3 {
    font-family: 'Poppins', sans-serif;
    color: #F9FBE7;
    margin-bottom: 10px;
}

.actividad p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    color: #F9FBE7;
}

.actividad .tipo-actividad {
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.actividad .tipo-actividad.gratuita {
    background-color: #8bc34a; /* Verde para las actividades gratuitas */
    color: #FFFFFF;
}

.actividad .tipo-actividad.premium {
    background-color: #ff5722; /* Naranja para actividades premium */
    color: #FFFFFF;
}

.actividad-descripcion {
    margin: 15px 0;
    color: #F9FBE7;
    font-size: 14px;
}

/* Estilo del botón Inscribirme en la página de actividades */
.btn-inscribirme {
    background-color: #ff5722; /* Fondo naranja */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interior */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano */
    margin-top: 10px; /* Espacio superior */
    display: block; /* Asegura que el botón esté en su propia línea */
    text-align: center; /* Centrar texto */
    font-family: 'Poppins', sans-serif; /* Fuente acorde a la guía de estilo */
    font-size: 16px; /* Tamaño de fuente */
}

.btn-inscribirme:hover {
    background-color: #e64a19; /* Color más oscuro al pasar el cursor */
}

/* Asegurar que el contenedor del tipo de actividad y botón se alinee bien */
.tipo-actividad {
    margin-bottom: 10px; /* Añadir espacio inferior para separar del botón */
}

.btn-cargar-mas:hover {
    background-color: #e64a19;
}
/*PAGINA DE DETALLES DE LA ACTIVIDAD E INSCRIPCION*/
/* Detalles de la Actividad */
.detalles-actividad {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9FBE7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalles-actividad h1 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.info-actividad {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.info-actividad p {
    margin: 10px 0;
}

.imagen-actividad{
    width: 100%;  /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;  /* Altura automática para mantener la proporción */
    max-width: 600px;  /* Ancho máximo para que no crezca demasiado */
}
.descripcion-actividad {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 20px;
}

.tipo-actividad {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tipo-actividad.gratuita {
    background-color: #8bc34a; /* Verde para las actividades gratuitas */
    color: #FFFFFF;
}

.tipo-actividad.premium {
    background-color: #ff5722; /* Naranja para actividades premium */
    color: #FFFFFF;
}

.btn-inscripcion {
    display: block;
    width: 200px;
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin: 20px auto;
    transition: background-color 0.3s;
}




/* PAGINA PRINCIPAL DE COOPERATIVAS */
/* Mis Tareas */
.mis-tareas, .nueva-tarea, .mi-calendario, .solicitudes, .nuevo-mensaje, .gestion-voluntarios {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.mis-tareas h2, .nueva-tarea h2, .mi-calendario h2, .solicitudes h2, .nuevo-mensaje h2, .gestion-voluntarios h2 {
    color: #A9401D;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.tarea, .voluntario {
    background-color: #A9401D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-tarea {
    background-color: #ff5722;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

/* Nueva Tarea */
.nueva-tarea form input, .nueva-tarea form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-publicar {
    background-color: #ff5722;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Solicitudes */
.solicitudes ul {
    list-style: none;
    padding: 0;
}

.solicitudes li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #8bc34a;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #212121;
}

.num-solicitud {
    background-color: #ff5722;
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
}

/* Nuevo mensaje */
.nuevo-mensaje form input, .nuevo-mensaje form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-enviar {
    background-color: #ff5722;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Gestión Voluntarios */
.gestion-voluntarios .filtro, .gestion-voluntarios input {
    margin-bottom: 10px;
}

.gestion-voluntarios input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-contacto {
    background-color: #ff5722;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Información del perfil*/

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;

}
.profile-info h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #A9401D;
    margin-bottom: 15px;
}


.container {
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-header p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #666;
}
.profile-info {
    margin-top: 20px;
}

.profile-info p {
    font-size: 1.1em;
    color: #444;
}
.profile-info .label {
    font-weight: bold;
    color: #333;
    width: 500px;
    text-align: left;
}

.profile-info input{
    width: 500px;
}


.profile-footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #888;
}

.profile-info textarea {
    width: 70%; 
    height: 200px; 
}

/*Botones enlaces páginas actividades y huertos*/
.contenedor-btns {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 20px;
}

.boton-actividades {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A9401D;
    color: #212121; 
    text-decoration: none;
    border-radius: 5px; 
    font-size: 1rem; 
    text-align: center; 
    transition: background-color 0.3s; 
}

.boton-actividades:hover {
    background-color: #ff5722; 
}

.boton-huertos {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #8bc34a; 
    color: #212121; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 1rem;
    text-align: center; 
    transition: background-color 0.3s; 
}

.boton-huertos:hover {
    background-color: #ff5722; 
}




/* Sección Mi Calendario */
.seccion-calendario {
    padding: 20px;
    background-color: #F9FBE7;
    text-align: center;
}

.seccion-calendario h1 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Controles de Mes */
.control-mes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-mes {
    background-color: #8bc34a;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.calendario {
    text-align: center;
}

.calendario img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #A9401D;
    border-radius: 8px;
}

/* Próximas Tareas */
.proximas-tareas {
    background-color: #8bc34a;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.proximas-tareas h2 {
    color: #212121;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.tarea {
    background-color: #A9401D;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tarea p {
    margin: 5px 0;
}

.btn-detalles {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
/*ACTIVIDADES COOPERATIVAS*/
/* Estilo general del contenedor principal */
.contenedor-principal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

/* Columna izquierda: Crear actividad */
.crear-actividad {
    background-color: #F9FBE7;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crear-actividad h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #A9401D;
    margin-bottom: 15px;
}

.crear-actividad form input,
.crear-actividad form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn-crear {
    background-color: #8bc34a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Columna derecha: Mis actividades */
.mis-actividades {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mis-actividades h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #A9401D;
    margin-bottom: 15px;
}

.actividad {
    background-color: #F9FBE7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.actividad h3 {
    font-family: 'Poppins', sans-serif;
    color: #A9401D;
    margin-bottom: 10px;
}

.actividad p {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    margin-bottom: 5px;
}

.btn-editar {
    background-color: #ff9800;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-eliminar {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*CREAR HUERTOS*/
/* Estilo general del contenedor principal */
.contenedor-principal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

/* Columna izquierda: Crear huerto */
.crear-huerto {
    background-color: #F9FBE7;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crear-huerto h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #A9401D;
    margin-bottom: 15px;
}

.crear-huerto form input,
.crear-huerto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn-crear {
    background-color: #8bc34a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Columna derecha: Mis huertos */
.mis-huertos {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mis-huertos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #A9401D;
    margin-bottom: 15px;
}

.huerto {
    background-color: #F9FBE7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.huerto h3 {
    font-family: 'Poppins', sans-serif;
    color: #A9401D;
    margin-bottom: 10px;
}

.huerto p {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    margin-bottom: 5px;
}

.btn-editar {
    background-color: #ff9800;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-eliminar {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
